:root {
    --spring: radial-gradient(circle, rgba(102, 153, 102, 0.6) 10%, rgba(230, 230, 153, 0.6) 100%);
    --summer: radial-gradient(circle, rgba(102, 128, 204, 0.6) 10%, rgba(230, 230, 153, 0.6) 100%);
    --autumn: radial-gradient(circle, rgba(204, 102, 51, 0.6) 30%, rgba(230, 230, 153, 0.6) 100%);
    --winter: radial-gradient(circle, rgba(102, 128, 204, 0.6) 10%, rgba(240, 240, 240, 0.6) 100%);
}

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
}

main {
    flex: 1;
}

.photo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.radius-blur-shadow-element {
    border-radius: 20px;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(5px);
    transition: box-shadow 0.3s;
}

.radius-blur-shadow-element:hover {
    box-shadow: 0 0 5px 0 dodgerblue;
}

button {
    background: none;
    border: none;
}

/* HEADING */
.heading {
    margin-top: 130px;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 3px 4px #000000;
    text-align: center;
}

/* CONTENT */
.content {
    margin-bottom: 50px;
}

/* FOOTER */
.footer {
    font-size: 10px;
    text-align: center;
    padding: 5px;
    z-index: 1000;
    margin-bottom: 10px;
}