.navbar-logo,
.navbar-menu {
    height: 100%;
    font-size: 15px;
    padding: 5px;
}


.line {
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: font-style 0.2s;
}

.line::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparent, dodgerblue);
    transition: width .2s;
}

.line:hover::after {
    width: 100%;
}