.navbar-logo,
.navbar-menu {
    font-size: 15px;
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 black;
    backdrop-filter: blur(2px);
    padding: 5px;
    margin: 5px;
    transition: box-shadow 0.3s;
}


.navbar-logo:hover,
.navbar-menu:hover {
    box-shadow: 0 0 5px 0 dodgerblue;
}

.line {
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    color: #000;
    text-transform: uppercase;
    position: relative;
    transition: font-style 0.2s;
}

.line::after {
    content: "";
    width: 0;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(90deg, transparent, dodgerblue);
    transition: width .2s;
}

.line:hover::after {
    width: 100%;
}