{% load static %}
{% load custom_tags %}
{% for item in items %}
    <tr class="actions-cell"
        data-id="{{ item|get_item:'id' }}"
        data-type="{{ collection_type }}">
        <td>{{ forloop.counter }}</td>
        {% for field in fields %}
            <td>
                {% if field == 'image' and item|get_item:field %}
                    <img class="table-img" src="/media/{{ item|get_item:field }}">
                {% else %}
                    {{ item|get_item:field }}
                {% endif %}
            </td>
        {% endfor %}
        {% include "cms/table/_table_default_actions.html" %}
    </tr>
{% endfor %}
