:root {
    --spring: radial-gradient(circle, rgba(0, 177, 59, 0.8) 10%, rgba(254, 255, 3, 0.8) 100%);
    --summer: radial-gradient(circle, rgba(1, 70, 209, 0.8) 10%, rgba(254, 255, 3, 0.8) 100%);
    --autumn: radial-gradient(circle, rgba(236, 59, 5, 0.8) 30%, rgba(254, 255, 3, 0.8) 100%);
    --winter: radial-gradient(circle, rgba(1, 70, 209, 0.8) 10%, rgba(255, 255, 255, 0.8) 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    background: var(--spring);
    font-family: sans-serif;
    margin: 135px auto 0;
    max-width: 1920px;
}

hr {
    width: 95%;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-shadow: 4px 3px 4px #000000;
    text-align: center;
}

h3 {
    font-size: 16px;
    padding: 10px;
    text-transform: uppercase;
}

p {
    padding: 10px;
}

/* HEADER - position: fixed, absolute*/
#header {
    width: 95%;
    margin: 0 auto;
    position: fixed;
    top: 20px;
    text-align: center;
}

#header>* {
    position: absolute;
    border-radius: 20px;
    color: #000;
    backdrop-filter: blur(2px);
    transition: box-shadow .3s;
}

#header>a {
    left: 10px;
    background-image: url(../img/logo/logo_watermark.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 110px;
    box-shadow: 0 0 20px 0 black;
}

#header div.menu {
    right: 10px;
    padding: 15px 0;
    text-transform: uppercase;
    box-shadow: 0 0 20px 0;
}

#header .menu li {
    list-style: none;
    margin: 10px 18px;
}

#header .menu a {
    text-decoration: none;
    color: #000;
    position: relative;
    font-size: 14px;
}

/* BAGPACK */
#bagpack,
#made-used {
    width: 95%;
    padding: 10px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}

#bagpack .image_item,
#made-used .image_item {
    padding: 20px 0;
}

#bagpack .image_item img,
#made-used .image_item img {
    width: 220px;
    border-radius: 10%;
    box-shadow: 0 0 20px 0 black;
}

/* MADE-USED */

/* CONTACT */
#contact {
    width: 95%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

#contact div.social,
#contact div.social a {
    padding: 30px 10px;
    font-size: 30px;
    color: #777;
}

#contact div.social a:active {
    color: red;
}

/* FOOTER */
#footer {
    background-color: #444;
    color: #eee;
    padding: 16px 0;
    margin: 0 auto;
    text-align: center;
}













/* MEDIA */
@media (orientation: portrait) and (min-width: 360px) {
    body {
        margin: 145px auto 0;
    }

    #header>a {
        height: 70px;
        width: 140px;
        left: 20px;
    }

    #header .menu a {
        font-size: 18px;
    }

    #bagpack .image_item img {
        width: 80%;
    }
}

@media (orientation: portrait) and (min-width: 540px) {
    body {
        margin: 155px auto 0;
    }

    #header>a {
        height: 90px;
        width: 190px;
        left: 30px;
    }

    #header .menu a {
        font-size: 22px;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    body {
        margin: 165px auto 0;
    }

    #header>a {
        height: 110px;
        width: 220px;
        left: 40px;
    }
}

@media (orientation: landscape) {
    body {
        margin: 145px auto 0;
    }

    #header>a {
        height: 90px;
        width: 190px;
    }

    #header .menu a {
        font-size: 20px;
    }

    #bagpack .project {
        display: inline-block;
        width: 45%;
    }

    #bagpack .image_item img {
        width: 70%;
    }
}

@media (orientation: landscape) and (min-width: 280px) {
    body {
        margin: 90px auto 0;
    }

    #header>a {
        height: 50px;
        width: 100px;
        left: 40px;
    }

    #header div.menu {
        padding: 5px 0;
    }

    #header .menu a {
        font-size: 18px;
    }

    #header .menu li {
        display: inline-block;
    }

}

@media (orientation: landscape) and (min-width: 800px) {
    body {
        margin: 145px auto 0;
    }

    #header>a {
        height: 100px;
        width: 200px;
        left: 90px;
    }

    #header div.menu {
        padding: 30px 0;
    }

    #header .menu a {
        font-size: 20px;
        transition: .2s;
    }

    #header>a:hover,
    #header div.menu:hover {
        box-shadow: 0 0 30px 0 dodgerblue;
    }

    #header .menu a:hover {
        color: dodgerblue;
    }

    #header .menu a:after {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        top: 100%;
        left: 0;
        background: linear-gradient(90deg, transparent, dodgerblue);
        transition: width .2s;
    }

    #header .menu a:hover:after {
        width: 100%;
    }

    #bagpack .project {
        width: 33%;
    }

    #bagpack .image_item img {
        width: 70%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    h1 {
        font-size: 38px;
    }

    #header .menu a:hover:after {
        width: 100%;
    }

    #bagpack .project {
        width: 33%;
    }

    #bagpack .image_item img {
        width: 70%;
    }
}

/* #bagpack .project:nth-of-type(even) .image_item {}

#bagpack .project:nth-of-type(odd) .image_item {}

#bagpack .project:nth-of-type(even) .about {} */