version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: django_prod
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static:/app/static
      - media:/app/media
    env_file:
      - .env.prod
    expose:
      - "8000"
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx_prod
    volumes:
      - static:/app/static
      - media:/app/media
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - web

  db:
    image: postgres:15
    container_name: postgres_prod
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  static:
  media: