.bagpack-img,
.crochet-img {
    width: 350px;
    height: auto;
    border: 0;
    border-radius: 20px;
    transition: transform .2s ease;
    background-color: transparent;
    backdrop-filter: blur(2px);
} 

.bagpack-img:hover,
.crochet-img:hover {
    transform: scale(1.2) !important;
    z-index: 1000 !important;
} 