{% extends 'base/base.html' %}
{% load static %}
{% block title %}Bagpacks{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'bagpack/css/bagpack.css' %}">
{% endblock styles %}
{% block heading %}
    bagpacks
{% endblock heading %}
{% block content %}
    <div class="photo-container">
        {% for bagpack in bagpacks %}
            <img class="img-fluid rounded"
                 src="{{ bagpack.image.url }}"
                 alt="{{ bagpack.name }}">
        {% endfor %}
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'bagpack/js/bagpack.js' %}"></script>
{% endblock scripts %}
