{% extends 'base/base.html' %}
{% load static %}

{% block title %} - Crochets{% endblock %}

{% block styles %}<link rel="stylesheet" href="{% static 'crochet/css/crochet.css' %}"> {% endblock styles %}

{% block content %}
        <h1>crochets</h1>
        <div class="photo-container">
            {% for bagpack in bagpacks %}
                <img class="welcome-img bagpack-img" src="{{ bagpack.image.url }}" alt="{{ bagpack.name }}">
            {% endfor %}
            {% for crochet in crochets %}
                <img class="welcome-img crochet-img" src="{{ crochet.image.url }}" alt="{{ crochet.name }}">
            {% endfor %}
        </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'crochet/js/crochet.js' %}"></script>
{% endblock scripts %}