.photo-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.bagpack-img,
.crochet-img {
    position: absolute;
    width: 250px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 black;
    transition: transform .5s ease;
    backdrop-filter: blur(2px);
}

.bagpack-img:hover,
.crochet-img:hover {
    transform: scale(1.5) !important;
    z-index: 1000 !important;
    box-shadow: 0 0 20px 0 dodgerblue;
}