{% extends 'base/base.html' %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'welcome/css/welcome.css' %}">
{% endblock styles %}
{% block heading %}
    welcome
{% endblock heading %}
{% block content %}
    <div class="photo-container">
        {% for bagpack in bagpacks %}
            <img class="img-thumbnail welcome-img"
                 src="{{ bagpack.image.url }}"
                 alt="{{ bagpack.name }}">
        {% endfor %}
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'welcome/js/welcome.js' %}"></script>
    <script src="{% static 'bagpack/js/bagpack.js' %}"></script>
{% endblock scripts %}
