<table class="table table-hover table-sm small-table text-center table-bordered align-middle">
    <thead>
        <tr>
            <th>L.p.</th>
            <th>View</th>
            <th>Name</th>
            <th>Season</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if item.image %}
                        <img class="table-img" src="{{ item.image.url }}" alt="{{ bagpack.name }}">
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.season }}</td>
                <td>{{ item.type }}</td>
                <td>
                    <button href="#" class="btn btn-outline-success w-20">A</button>
                    <button href="#" class="btn btn-outline-info w-20">V</button>
                    <button href="#" class="btn btn-outline-primary w-20">E</button>
                    <button href="#" class="btn btn-outline-danger w-20">D</button>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No items found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
