{% extends 'base/base.html' %}
{% load static %}
{% block title %}Bagpack Collection{% endblock %}
{% block heading %}collection{% endblock %}
{% block content %}
    <div class="d-grid gap-2 col-12 col-sm-10 col-md-8 col-lg-6 mx-auto">
        <form id="collection-form">
            <p>Select collection</p>
            {{ form.collection_type }}
        </form>
        <div class="table-responsive">{% include "cms/collection_table.html" %}</div>
    </div>
{% endblock content %}
{% block scripts %}
    <script src="{% static 'cms/js/collection.js' %}"></script>
{% endblock scripts %}
